body {
    font-family: "Helvetica Neue", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei",
    Helvetica, Arial, Sans-serif;
    background: #ecf0f1;
}

.navbar {
    min-height: 28px;
    border-radius: 0;
    margin-bottom: 0;
    background: #3071a9;
}

.navbar-inverse {
    border-color: #3071a9;
    color: #fff;
}

.navbar-brand {
    padding: 2px 5px;
    height: 28px;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-inverse .navbar-nav > li:hover {
    background-color: #000;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.studio-header {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0 0 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.studio-header .header-title {
    float: left;
    width: auto;
    max-width: 60%;
}

.studio-header .header-control-middle {
    margin-left: 30px;
    width: auto;
    float: left;
}

.studio-header .header-control-right {
    width: auto;
    float: right;
}

.studio-header .header-title h1 {
    font-size: 14px;
    margin: 5px 0;
}

.studio-header .header-title h1 i {
    margin-right: 5px;
}

.studio-header .btn-group-sm > .btn,
.btn-sm {
    padding: 3px 10px;
}

.btn-default {
    background-image: none;
}

.studio-header .header-title p {
    color: #666;
}

.studio-header .btn-link {
    color: #333;
}

.studio-header .btn-link:hover,
.studio-header .btn-link:focus {
    background-color: #ddd;
    color: #3071a9;
    text-decoration: none;
}

td > button.btn {
    padding: 3px 6px;
    margin-left: 4px;
}

.page-title {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.notebook-cards {
    margin: 10px 9px;
    padding: 0;
}

.notebook-card {
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    float: left;
    margin: 0 10px 20px;
    width: 172px;
    height: 215px;
}

.notebook-card:hover .notebook-card-close {
    visibility: visible;
}

.notebook-card:hover {
    box-shadow: 0 0 8px #3071a9;
}

.notebook-card-info {
    min-height: 185px;
    max-height: 185px;
    border-bottom: 1px solid #e4e4e4;
    padding: 5px 10px;
}

.notebook-card-title {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    float: left;

}

.notebook-card-close {
    visibility: hidden;
    margin-top: -8px;
    margin-left: 137px;
    position: absolute;
}

.notebook-card-description {
    color: #CCC;
    font-size: 12px;
    font-style: normal;
    float: left;
    line-height: 18px;
    margin-top: -5px;
    width: 100%;
    word-wrap: break-word;
}

.notebook-card-control {
    padding: 5px;
}

.notebook-card-createtime {
    float: left;
    width: 65%;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    color: #CCC;
    margin-left: 5px;
}

.notebook-card-operation {
    float: right;
    margin-top: -4px;
    width: 12%;
    color: #999;
}

.notebook-card .btn {
    padding: 5px 5px;
    color: #999;
}

.notebook-card .btn:hover {
    color: #3071a9;
}

.notebook-card-add {
    padding-top: 65px;
    text-align: center;
    width: 100%;
}

.modal-header {
    border-bottom: none;
    padding-left: 50px;
}

.modal-footer {
    border-top: none;
}

.modal-content {
    border-radius: 0;
    background-color: #fff;
}

.modal-body {
    padding: 0 50px;
}

.modal-footer {
    text-align: center;
}

.card {
    font-size: 14px;
    padding: 3px 0;
}

.card .panel {
    margin-bottom: 0;
    border-radius: 2px;
}

.card .panel .panel-body {
    padding: 10px;
}

.card .btn-link {
    color: #333;
}

.card .btn-link:hover,
.card .btn-link:focus {
    background-color: #ddd;
    color: #3071a9;
    text-decoration: none;
}

.card-editor {
    height: auto;
}

.card-para {
    display: none;
}

.card-para .form-control {
    width: auto;
}

.card-para .form-group {
    margin-bottom: 8px;
}

.card-content-toolbox {
    margin-bottom: 8px;
}

.card-content {
    margin-bottom: 8px;
}

.card-footer {
    font-size: 12px;
    color: #ccc;
}

.card-add-btn {
    text-align: center;
    margin-top: -15px;
}

.card-add-line {
    width: 100%;
    height: 15px;

}

.schema-view {
    background-color: #fff;
    margin-top: -20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    min-height: 300px;
    display: none;
}

.graph {
    width: 100%;
    height: 250px;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.bootstrap-select .dropdown-toggle:focus li.selected {
    outline: none !important;
}

li.selected {
    outline: none !important;
}

.bootstrap-select a:focus {
    outline: none;
    outline-offset: -2px;
}

.bootstrap-select .dropdown-menu {
    font-size: 12px;
}

.connection-header {
    float: right;
    padding-bottom: 10px;
}

.connection-header button span {
    margin-left: 5px;
}

form {
    font-size: 14px !important;
}

.has-error {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-err-message {
    color: #a94442;
    margin-top: 5px;

}

.alert-message {
    margin-top: 20px;
    text-align: center;
}

.drop-down-menu a {
    color: #333;
}

.drop-down-menu a:hover {
    color: #3071a9;
}
